body{
text-align: center;
font-family: helvetica;
}
p1{
    
font-weight: bold;
font-size: 150px;
line-height: 60px;
letter-spacing: 2px;
text-align: center;

}
span{
 font-size: 60px;
font-weight: 300;
    letter-spacing: 15px;
    line-height: 2px;
    text-align: left;
}
em{
    font-size: 30px;
    line-height: 30px;
}
.box {
    width: 100px;
    height: 50px;
    display: inline-block;
}
.box2 {
    width: 100px;
    height: 50px;
    display: inline-block;
}